.game {
    display: grid;
    grid: auto auto auto auto / 22.3px auto;
    grid-template-areas:
        ".         column-tally"
        "row-tally grid        "
        ".         picker      "
        ".         ship-target ";
    width: 50%;
}

.row-tally {
    border: solid 1px black;
    grid-area: row-tally;
}

.column-tally {
    border: solid 1px black;
    grid-area: column-tally;
}

.grid {
    border: solid 1px black;
    grid-area: grid
}

.picker {
    grid-area: picker
}

.ship-target {
    border: solid 1px black;
    grid-area: ship-target;
}