<div class="game">
    <app-tally
        class="row-tally"
        [isHorizontal]="false"
        [targetNumbers]="game.TargetNumberOfShipFieldsPerRow">
    </app-tally>
    <app-tally
        class="column-tally"
        [isHorizontal]="true"
        [targetNumbers]="game.TargetNumberOfShipFieldsPerColumn">
    </app-tally>
    <app-grid
        class="grid"
        [pickedValue]="pickedValue"
        [numberOfRows]="game.NumberOfRows"
        [numberOfColumns]="game.NumberOfColumns"
        [gridValues]="game.GridValues"></app-grid>
    <app-picker
        class="picker"
        (pickedValueChanged)="onPickedValueChanged($event)">
    </app-picker>
    <app-ship-target
        class="ship-target"
        [targetNumberOfShipsPerLength]="game.TargetNumberOfShipsPerLength">
    </app-ship-target>
</div>