<div class="game">
    <bim-tally
        class="row-tally"
        [isHorizontal]="false"
        [targetNumbers]="game.TargetNumberOfShipFieldsPerRow">
    </bim-tally>
    <bim-tally
        class="column-tally"
        [isHorizontal]="true"
        [targetNumbers]="game.TargetNumberOfShipFieldsPerColumn">
    </bim-tally>
    <bim-grid
        class="grid"
        [pickedValue]="pickedValue"
        [numberOfRows]="game.NumberOfRows"
        [numberOfColumns]="game.NumberOfColumns"
        [tiles]="game.GridTiles">
    </bim-grid>
    <bim-picker
        class="picker"
        (pickedValueChanged)="onPickedValueChanged($event)">
    </bim-picker>
    <bim-ship-target
        class="ship-target"
        [targetNumberOfShipsPerLength]="game.TargetNumberOfShipsPerLength">
    </bim-ship-target>
</div>