<mat-grid-list cols={{numberOfColumns}} rowHeight="1:1">
    <ng-container *ngFor="let tilesRow of tiles; let rowIndex = index" >
        <mat-grid-tile class="background-of-mat-grid-tile" *ngFor="let tile of tilesRow; let columnIndex = index"
            [style.background-image]="'url(' + getImageFromTile(tile) + ')'"
            [style.background-blend-mode]="tile.isReadOnly? 'lighten' : 'normal'"
            (click)="onTileClicked(tile)"
            (contextmenu)="onTileRightClicked(tile)">
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>