@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-of-mat-grid-tile {
    background-size: 100%;
    background-repeat: no-repeat;
}